@import '../../common/constant.scss';

.Navbar {
  background-color: $nav-bg;
  position: sticky;
  top: 0;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: $nav-border;
  padding: 10px;
  > .title {
    font-family: $font-family-satisfy;
  }
  > .box-menu {
    display: flex;
    align-items: center;
    > .icon {
      font-size: 25px;
      margin-right: 20px;
      cursor: pointer;
    }
    > .box-avatar {
      width: 30px;
      height: 30px;
      max-width: 30px;
      max-height: 30px;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $nav-bg;
      border-radius: 50%;
      box-shadow: $nav-shadow;
      border: $nav-border;
      cursor: pointer;
      > .avatar {
        width: 100%;
        max-width: 30px;
        max-height: 30px;
      }
    }
  }
}
